.petconsist {

    height:100%;
    max-height:30rem;

    width:auto;

}

@media screen and (max-width:768px){

    .imgconsist {
        max-height:auto;
        width:100%;
        max-width:37.5rem;
    }

}